.wrapper
	.wrapper-body.container
		.actions
			= link_to admin_orders_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				.card-content
					= simple_form_for [:admin, @order] do |f|
						.row
							= f.association :project, label: false,  label_method: :name, value_method: :id, include_blank: 'Select Project', input_html: { class: "browser-default",  style:"margin-bottom: 5px;" }
							= f.input :name_client, label: 'Name client'
							= f.input :identification_client, label: 'Identification client'
							= f.input :phone_client, label: 'Phone'
							= f.input :email_client, label: 'Email'
							= f.input :payment_currency, collection: @type_money, label: false, include_blank: 'Select Payment Currency', input_html: { class: "browser-default", style:"margin-bottom: 5px;" }      
							#payment_currency   
							= f.input :price_project,  label:'Price project', input_html: { type: "text", style:"margin-top: 5px;" }
							#price
							= f.input :date_start_real, label:'Date start real', as: :string, input_html: {class: "datepicker"}
							= f.input :date_end_real, label:'Date end real', as: :string, input_html: {class: "datepicker"}
							= f.input :date_start_planned, label:'Date start planned', as: :string, input_html: {class: "datepicker"}
							= f.input :date_end_planned, label:'Date end planned', as: :string, input_html: {class: "datepicker"}
							= f.input :date_pause, as: :string, input_html: {class: "datepicker"}
							= f.input :observation
							-unless ((controller_name == "orders") and (action_name =="new"))
								= f.input :stackstate_id, collection: @stack_states, label: false, value_method: :id, include_blank: 'Select Project', input_html: {class: "browser-default"} 
							.form-actions.right
								= f.button :submit, t("keppler.actions.save"), name: '_save'
								= f.button :submit, t("keppler.actions.save_and_add_another"), name: '_add_other'
						   
							

:javascript

	  $(document).ready(function() {
		$('#order_project_id').on('change', function() {
			$.ajax({
				url: "#{orders_project_path}",
				type: "POST",
				data: { project_id: $(this).val() }
			});
		});

			$('#order_payment_currency').on('change', function() {
			$.ajax({
				url: "#{orders_payment_currency_path}",
				type: "POST",
				data: { payment_currency: $(this).val() }
			});
		});
		$('select').material_select();
	});



		

	
     

